html{
    width: 100%;
}

body{
    margin: 0 auto;
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
    margin: 0;
}

ol{
    padding: 0;
    margin: 0;
    text-align: center;
}

li{
    list-style-type: none;
}

.bold{
    font-weight: bold;
}

.top_right_margin{
    margin-top: 20px;
    margin-right: 20px;
}

nav{
    background-color: #23295A;
    height: 100px;
}

.nav ul{
    width: 1500px;
    min-width: 600px;
    height: 70px;
}

.nav a{
    color: white;
}

.login{
    text-align: right;
    height: 20px;
}

.login span{
    margin: 5px;
    font-size: 10pt;
}

.line{
    border: 0px;
    border-top: 1px solid #141729;
    margin: 5px 0px;
}

.nav_menu_item{
    font-weight: bold;
    font-size: 15pt;
    text-align: center;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    float: left;
    margin: 10px 7.5%;
}

.float_clear{
    clear: both;
}

.login_wrap_wrap{
    width: 400px;
    margin: 0 auto;
}

.login_wrap{
    width: 400px;
    height: 400px;
    display: inline-flex;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    flex-direction: column;
}

.login_wrap span{
    font-size: 17pt;
    margin-bottom: 30px;
}

.login_wrap input{
    height: 50px;
    margin: 10px 0px;
    font-size: 12pt;
    padding-left: 20px;
}

.login_wrap button{
    background-color: #23295A;
    height: 70px;
    border: none;
    color: white;
    margin-top: 10px;
    font-size: 15pt;
    font-weight: bold;
}

.login_wrap .signIN{
    text-align: right;
    margin-top: 20px;
    cursor: pointer;
    color: #9b9b9b;
    font-size: 12pt;
}