.member{
    margin-bottom: 15px;
}

.member.bold{
    font-size: 18pt;
    margin-bottom: 40px;
}

.member_wrap{
    width: 350px;
    display: inline-block;
    text-align: center;
}

.members_wrap{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.member_img{
    width: 350px;
    height: 450px;
    line-height: 450px;
    background-color: #C4C4C4;
    color: white;
}

.member_name{
    font-size: 15pt;
}

.member_sub{
    font-size: 10pt;
}