html{
    width: 100%;
}

body{
    margin: 0 auto;
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
    margin: 0;
}

ol{
    padding: 0;
    margin: 0;
    text-align: center;
}

li{
    list-style-type: none;
}

article{
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.bold{
    font-weight: bold;
}

.top_right_margin{
    margin-top: 20px;
    margin-right: 20px;
}

nav{
    background-color: #23295A;
    height: 100px;
}

.nav ul{
    width: 1500px;
    min-width: 600px;
    height: 70px;
}

.nav a{
    color: white;
}

.login{
    text-align: right;
    height: 20px;
}

.login span{
    margin: 5px;
    font-size: 10pt;
}

.line{
    border: 0px;
    border-top: 1px solid #141729;
    margin: 5px 0px;
}

.nav_menu_item{
    font-weight: bold;
    font-size: 15pt;
    text-align: center;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    float: left;
    margin: 10px 7.5%;
}

.float_clear{
    clear: both;
}

.member{
    margin-bottom: 15px;
}

.member.bold{
    font-size: 18pt;
    margin-bottom: 40px;
}

.member_wrap{
    width: 350px;
    display: inline-block;
    text-align: center;
}

.members_wrap{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.member_img{
    width: 350px;
    height: 450px;
    line-height: 450px;
    background-color: #C4C4C4;
    color: white;
}

.member_name{
    font-size: 15pt;
}

.member_sub{
    font-size: 10pt;
}