@font-face {
    font-family: 'SuncheonB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    width: 100%;
}

body{
    margin: 0 auto;
    font-family: 'SuncheonB';
}

a{
    text-decoration: none;
    color: black;
}


ul{
    padding: 0;
    margin: 0;
}

ol{
    padding: 0;
    margin: 0;
    text-align: center;
}

li{
    list-style-type: none;
}

article{
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.bold{
    font-weight: bold;
}

.top_right_margin{
    margin-top: 20px;
    margin-right: 20px;
}

nav{
    background-color: #23295A;
    height: 100px;
    
}

.nav ul{
    width: 1500px;
    min-width: 600px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.nav a{
    color: white;
}

.login{
    text-align: right;
    height: 20px;
}

.login span{
    margin: 5px;
    font-size: 10pt;
}

.line{
    border: 0px;
    border-top: 1px solid #141729;
    margin: 5px 0px;
}

.nav_menu_item{
    font-weight: bold;
    font-size: 15pt;
    text-align: center;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    float: left;
    margin: 10px 7.5%;
}

.float_clear{
    clear: both;
}