@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    width: 100%;
}

body{
    margin: 0 auto;
    font-family: 'InfinitySans-RegularA1';
}

a{
    text-decoration: none;
    color: #353535;
}


ul{
    padding: 0;
    margin: 0;
}

ol{
    padding: 0;
    margin: 0;
    text-align: center;
}

li{
    list-style-type: none;
}

article{
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.bold{
    font-weight: bold;
}

.top_right_margin{
    margin-top: 20px;
    margin-right: 20px;
}

nav{
    background-color: #FF9090;
    height: 26px;
}

.nav ul{
    width: 1500px;
    min-width: 600px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    background-color: #FF9090;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 20px;
}

.nav a{
    color: white;
}

.login{
    text-align: right;
    height: 20px;
}

.login span{
    margin: 5px;
    font-size: 10pt;
}

.line{
    border: 0px;
    border-top: 1px solid #DE7A7A;
    margin: 5px 0px;
}

.nav_menu_item{
    font-weight: bold;
    font-size: 12pt;
    text-align: center;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 10px 7.5%;
}

.content_logo{
    height: 50px;
    width: 250px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

#logo{
    height: 50px;
    width: 250px;
}

.float_clear{
    clear: both;
}