<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src = "/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript"src="/js/paging.js"></script>
    <script type="text/javascript" src="/js/removeHTML.js"></script>
    <link rel="stylesheet" href="/css/web_style.css">
    <title>School</title>
    <script charset="utf-8" src="https://platform.twitter.com/js/moment~timeline.55634fd8bf871f86dbe537f50a41349e.js"></script>
    <script charset="utf-8" src="https://platform.twitter.com/js/timeline.2002b66aa236ee3e1e6728119a7c4b98.js"></script>
    <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
</head>