<div class = "lnb_container">
    <nav class = "lnb_container_nav">
        <div class = "nav_header">
            <span>
                마이페이지
            </span>
        </div>
        <ol class = "nav_container">
            <li class="lnb_container_list"><a href="/mypage?menu=editMemberInfo">정보 수정</a></li>
            <li class="lnb_container_list"><a href="/mypage?menu=withdraw">회원 탈퇴</a></li>
        </ol>
    </nav>
</div>