<nav>
    <div class = "nav login">
        <span class = "nav"><a href = "/login">로그인 / 회원가입</a></span>
    </div>
    <hr class = "nav line" />
    
</nav>
<div class = "content_logo">
    <a href = "/"><img id = "logo" src = "/img/logo.png"></a>
</div>
<div class = "nav menu">
    <ul>
        <li class = "nav nav_menu_item" id = "world"><a href = "/introduce">학교소개</a></li>
        <li class = "nav nav_menu_item" id = "notice"><a href = "/notice/pages/1">공지사항</a></li>
        <li class = "nav nav_menu_item" id = "apply_form"><a href = "/anonyboard/pages/1">게시판</a></li>
        <li class = "nav nav_menu_item" id = "member"><a href = "/student">구성원</a></li>
    </ul>
</div>
<div class = "float_clear"></div>