<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<link rel="stylesheet" href="/css/writing_board_web_style.css">
<body>
    <%- include('layouts/navbar') -%>
    <article>
        <form action="/anonyboard/write/post" method="POST">
            <p class = "table_title">익명 게시판</p>
            <%- include('layouts/write') -%>
        </form>
    </article>
</body>
</html>