<!DOCTYPE html>
<html lang="ko">
  <%- include('layouts/header') -%>
  <link rel="stylesheet" href="/css/signup_web_style.css" />
  <body>
    <%- include('layouts/navbar') -%>
    <div class="hero_banner"></div>
    <article>
      <div class="signup_content">
        <h1 class="signup_title">회원가입</h1>
        <div class="divide_line">
          <div class="step_line"></div>
        </div>
        <div class="input_container">
          <div class="input_container_slide">
            <div class="each_input_container">
              <p class="input_descript">아이디를 작성해주세요.</p>
              <p class="input_condition">8~15자 이내만 가능</p>
              <input
                name="id"
                class="input_input"
                type="text"
                placeholder="아이디 입력"
                maxlength="15"
              />
              <p name="id" class="input_result"></p>
              <button
                name="id"
                class="input_check_button"
                type="button"
                disabled="disabled"
              >
                아이디 확인
              </button>
              <button
                name="id"
                class="input_next_button"
                type="button"
                disabled="disabled"
              >
                다음
              </button>
            </div>
            <div class="each_input_container">
              <p class="input_descript">비밀번호를 작성해주세요.</p>
              <p class="input_condition">
                8~20자 이내, 숫자, 영문자, 특수문자(!@#$%^&*())만을 포함
              </p>
              <input
                name="password"
                id="input_password"
                class="input_input"
                type="password"
                placeholder="비밀번호 입력"
                maxlength="20"
              />
              <p name="password" class="input_result"></p>
              <p class="input_descript"></p>
              <input
                name="password_chk"
                id="input_password_chk"
                class="input_input"
                type="password"
                placeholder="확인용 비밀번호 입력"
                maxlength="20"
                disabled="disabled"
              />
              <p name="password_chk" class="input_result">
                비밀번호가 일치합니다.
              </p>
              <button
                name="password"
                class="input_next_button"
                type="button"
                disabled="disabled"
              >
                다음
              </button>
            </div>
            <div class="each_input_container">
              <p class="input_descript">사용할 닉네임을 설정해주세요.</p>
              <p class="input_condition">한글로만 작성해주세요.</p>
              <input
                name="nickname"
                id="input_nickname"
                class="input_input"
                type="text"
                placeholder="닉네임 입력"
              />
              <button
                name="nickname"
                class="input_next_button"
                type="button"
                disabled="disabled"
              >
                다음
              </button>
            </div>
            <div class="each_input_container" id="email_receive">
              <p class="input_descript">이메일을 수신하시겠습니까?</p>
              <div class="toggle_container">
                <input type="checkbox" id="email_receive_toggle" />
                <label for="email_receive_toggle">on/off</label>
                <input
                  name="email"
                  id="input_email"
                  class="input_input"
                  type="email"
                  placeholder="이메일 입력"
                />
                <p name="email" class="input_result"></p>
                <button name="email" class="input_next_button" type="button">
                  다음
                </button>
              </div>
            </div>
            <div class="each_input_container" id="signup_complete">
              <img src="./img/check_icon.png" />
              <p class="signup_descript_large">회원가입이 완료되었습니다!</p>
              <p class="signup_descript_small">가입을 환영합니다.</p>
              <button class="input_return_button">홈으로 가기</button>
            </div>
          </div>
        </div>
      </div>
    </article>
    <script src="./js/signup_event.js"></script>
  </body>
</html>
