<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<link rel="stylesheet" href="/css/student_web_style.css">
<body>
    <%- include('layouts/navbar') -%>
    <article>
        <div class = "bold member">구성원</div>
        <div class = "members_wrap">
            <div class = "member_wrap">
                <div class = "member member_img">이미지</div>
                <div class = "member member_name">이름</div>
                <div class = "member member_sub">직책</div>
            </div>
        </div>
    </article>
</body>
</html>