<!DOCTYPE html>
<html lang="ko">
  <%- include('layouts/header') -%>
  <link rel="stylesheet" href="/css/popup_web_style.css" />
  <link rel="stylesheet" href="/css/button_web_style.css" />
  <body>
    <article class="popup_small">
      <div class="message_container center_container">
        <p>탈퇴 처리가 완료되었습니다.</p>
      </div>
      <div class="button_container">
        <button class="button large_button" onclick="location.href='/'">
          홈으로 가기
        </button>
      </div>
    </article>
  </body>
</html>
