article{
    width: 1000px;
    margin: 0 auto;
}

.intro_wrap{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 200px;
}

.intro_wrap span{
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 30px;
}

.intro_content{
    height: 600px;
    border-radius: 20px;
    border: 2px solid #FF9090;
    padding: 20px;
}

.intro_content pre{
    font-size: 12pt;
    text-align: center;
}