#form_login {
  width: 400px;
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login_title {
  margin-bottom: 32px;
  font-size: 18pt;
  font-weight: 700;
}

.input_title {
  width: 90%;
  margin-bottom: 16px;
  text-align: left;
}

.input_content {
  width: 90%;
  height: 56px;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #9a9a9a;
  background-color: #f9f9f9;
  font-size: 16px;
  outline: none;
}

.input_content:focus {
  background-color: white;
}

.input_content:focus::placeholder {
  visibility: hidden;
}

button#sign_in {
  width: 90%;
  height: 56px;
  margin-top: 16px;
  border: 0px;
  background-color: black;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
