.login_wrap_wrap{
    width: 400px;
    margin: 0 auto;
}

.login_wrap{
    width: 400px;
    height: 400px;
    display: inline-flex;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    flex-direction: column;
}

.login_wrap span{
    font-size: 17pt;
    margin-bottom: 30px;
}

.login_wrap input{
    height: 50px;
    margin: 10px 0px;
    font-size: 12pt;
    padding-left: 20px;
}

.login_wrap input[type=submit]{
    background-color: #FF9090;
    height: 70px;
    border: none;
    color: white;
    margin-top: 10px;
    font-size: 15pt;
    font-weight: bold;
    cursor: pointer;
}

.login_wrap .signIN{
    text-align: right;
    margin-top: 20px;
    cursor: pointer;
    color: #9b9b9b;
    font-size: 12pt;
}
