:root {
  --description-font-color: #424242;
  --invalid-bg-color: #d9d9d9;
}

article {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_content {
  width: 400px;
  margin: 60px auto 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.signup_title {
  margin: 0px;
  margin-bottom: 20px;
  font-size: 32px;
}

.divide_line {
  width: 400px;
  height: 5px;
  margin: 0px;
  background-color: var(--invalid-bg-color);
  position: relative;
  transition: all 1s;
}

.step_line {
  width: 0%;
  height: 5px;
  background-color: var(--dark-bg-color);
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.input_container {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.input_container_slide {
  width: fit-content;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  transition: 0.5s all;
}

.each_input_container {
  width: 400px;
  padding: 0px 20px;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
}

.each_input_container#signup_complete {
  align-items: center;
}

.each_input_container > p {
  margin: 0px;
}

.each_input_container > .input_descript:not(:first-child) {
  margin-top: 20px;
}

.input_descript {
  font-size: 18px;
}

.input_condition,
.input_result {
  font-size: 12px;
}

.input_input {
  width: 100%;
  height: 56px;
  padding: 0px 20px;
  margin-top: 20px;
  font-size: 18px;
}

.input_input:focus::placeholder {
  visibility: hidden;
}

.input_input[type="email"] {
  display: none;
}

.input_result {
  color: var(--description-font-color);
}

.input_next_button,
.input_check_button,
.input_return_button {
  width: 100%;
  height: 56px;
  margin-top: 24px;
  border: none;
  background-color: var(--dark-bg-color);
  color: var(--dark-font-color);
  cursor: pointer;
}

.input_input:disabled,
.input_next_button:disabled,
.input_check_button:disabled,
.invalid {
  background-color: var(--invalid-bg-color);
  cursor: default;
}

.toggle_container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#email_receive_toggle {
  display: none;
}

label[for="email_receive_toggle"] {
  width: 100px;
  height: 48px;
  border-radius: 25px;
  background-color: #ebebeb;
  text-indent: -99999px;
  display: inline-block;
  position: relative;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

label[for="email_receive_toggle"]::after {
  width: 40px;
  height: 40px;
  content: "";
  border-radius: 25px;
  background-color: white;
  position: absolute;
  top: 4px;
  left: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
}

#email_receive_toggle:checked + label {
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}

#email_receive_toggle:checked + label::after {
  top: 4px;
  left: calc(100% - 44px);
}

#email_receive_toggle:checked ~ input {
  display: inline-block;
}

#email_receive_toggle:checked .signup_descript_large {
  font-size: 20px;
  font-weight: bold;
}
